*{
    background-color: #FF914C;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #601208;
}

img{
    max-width: 20%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.menu{
    background-color: #F8F1E5;
    display: inline-block;;
}

button{
   font-size: 14px;
   font-weight: 700;
   color: #F8F1E5; 
   background-color: #601208;
   border: 1px solid black; 
   padding: 5px;
   margin: 20px 150px 0px 150px ;
   text-align: center;
}

footer{
    margin-top: 300px ;
    margin-bottom: 0px;
}

