/* Level 1 */

#pond {
    display: flex;
  justify-content: flex-end;
  }

  /* Level 2 */

  #pond {
    display: flex;
  justify-content: center
  }

/* Level 3 */

#pond {
    display: flex;
  justify-content: space-around;
  }

/* Level 4 */

#pond {
    display: flex;
  justify-content: space-between;
  }

/* Level 5 */

#pond {
    display: flex;
  align-items: flex-end;
  }

  /* Level 6 */

  #pond {
    display: flex;
  justify-content: center;
  align-items: center;
  }

  /* Level 7 */

  #pond {
    display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }

  /* Level 8 */

  #pond {
    display: flex;
  flex-direction: row-reverse;
  }

  /* Level 9 */

  #pond {
    display: flex;
  flex-direction: column;
  }

  /* Level 10 */

  #pond {
    display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  }