*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

h1{
    padding: 50px 0 0 0;
    text-align: center;
}

#diasSemana{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 50px;

}

div{
    border: 1px solid black;
    width: 10vw;
    height: 80vh;
    text-align: center;
}