* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.intro{
    width: 100%;
    margin: 0 0 0 auto;
    text-align: center;
    border: 1px solid black;
    background-color: #6e3667;
    color: whitesmoke;
    padding: 10px;
    
}

#yan-portifolio{
    width: 10%;
    height: auto;
    margin: 10px;
}

#intro{
    width: 400px;
    margin: 10px auto 10px auto;
    border: 1px solid #88d317;
    text-align:center;
    padding: 10px;
}

.ge{
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
    color: #6e3667;
}

#lista{
    width: 400px;
    margin: 10px auto;
    text-align: left;
    border: 1px solid #6e3667;
    padding: 10px 10px 10px 30px;
}

.skill{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    background-color: #424142;
    color: whitesmoke;
    padding: 10px 0;
}

#table1{
    width: 400px;
    margin: 10px auto ;
    padding: 0;
    border: 1px solid whitesmoke;
    border-spacing: 0;
    font-size: medium;
    }

    th{
        color: #88d317;
        background-color: #6e3667;
    }

    #table1 tr:nth-last-of-type(2){
        color: #88d317;
        background-color: #6e3667;
    }

.contacts{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    background-color: #6e3667;
    color: #88d317;
    padding: 10px 0;
    }

.inputs{
    padding: 10px;
    font-weight: 600;
} 

#button{
    background-color: #88d317;
    border:1px solid whitesmoke;
    color: #6e3667;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

#button:hover{
    background-color:#6e3667 ;
    border:1px solid whitesmoke;
    color:#88d317;
}

#button:active{
    background-color: whitesmoke;
    border: 1px solid #88d317 ;
    color: #6e3667;
}